<div class="welcome-container">
    <div class="main-content">
        <div class="left-box col-6">
            <div class="text-field">
                <h1>Autodidacta</h1>
                <h3>Aprende todo lo que quieras. Facil.</h3>
                <h4>Organiza tu información en un solo lugar.</h4>
            </div>
            <div class="btn-field">
                <button [routerLink]="registerPath">Registrarse</button>
                <button [routerLink]="loginPath">Iniciar Sesión</button>
            </div>
        </div>
        <div class="right-box col-6">
            @for (icon of iconService.getIcons(19); track $index){
            <i class="{{icon}}"></i>
            }
            <i class="bi bi-youtube"></i>
        </div>
    </div>
    <app-footer />
</div>