:root {
    --primary-color: #FFFFFF; /* Blanco */
    --secondary-color: #3d556d; /* Azul Claro */
    --accent-color: #2C3E50; /* Gris Oscuro */
    --text-color: #333333; /* Gris Oscuro */
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--accent-color);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}