* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF; /* Blanco */
    --secondary-color: #3d556d; /* Azul Claro */
    --accent-color: #2C3E50; /* Gris Oscuro */
    --text-color: #333333; /* Gris Oscuro */
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);    
  }
  
  a {
    color: var(--accent-color);
  }