<div class="side-menu-container container">
    <div class="header">        
            <i class="bi bi-columns-gap text-white"></i>        
        <div class="logo">
            Autodidacta
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-person-lines-fill"></i>
                <span>Perfil</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-folder2-open"></i>
                <span>Carpetas</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <i class="bi bi-gear"></i>
                <span>Configuración</span>
            </button>            
        </div>
    </div>
    <hr>
    <div class="footer">
        <button class="btn btn-logout">
            <i class="bi bi-box-arrow-left"></i>
            <span>Cerrar sesión</span>
            </button>
    </div>
</div>