<div class="login-container">
    <div class="col-effect col-1">

    </div>
    <div class="logo-field col-6">
        <h1>Inicia Sesión</h1>
        <h3>Elige lo que quieres. Continua Aprendiendo.</h3>
    </div>
    <div class="form-field col-5">
        <div class="login">
            <div class="input-field">
                <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="input-field">
                <input type="password" class="form-control" placeholder="Contraseña" name="" id="">
            </div>
            <div class="btn-field">
                <button>Iniciar sesión</button>
            </div>
            <div class="forgotPass-field">
                <a href="">¿Olvido su contraseña?</a>
            </div>
            <div class="btn-field">
                <hr>
                <button [routerLink]="registerPath">Crear una cuenta</button>
            </div>
        </div>
    </div>    
</div>