<div class="login-container row">
    <div class="logo-field col-7">
        <h1>Autodidacta</h1>
        <h3>Integer at magna nec nisi facilisis imperdiet.</h3>
        <h4>tiam sagittis pharetra quam non ornare.</h4>
    </div>
    <div class="form-field col-5">
        <div class="login">
            <div class="input-field">
                <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="input-field">
                <input type="password" class="form-control" placeholder="Contraseña" name="" id="">
            </div>
            <div class="btn-field">
                <button>Iniciar sesión</button>
            </div>
            <div class="forgotPass-field">
                <a href="">¿Olvido su contraseña?</a>
            </div>
            <div class="btn-field">
                <hr>
                <button>Crear una cuenta</button>
            </div>
        </div>
    </div>
</div>