.login-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
}

.logo-field {
    padding: 10px;
    text-align: center;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-field h3 {
    margin: 0 0 1rem 0;
    color: var(--accent-color);
}

.login {
    view-transition-name: transitionForm;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: var(--primary-color);
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field,
input {
    padding: 10px;
    width: 100%;
}

.btn-field {
    padding: 10px;
    width: 80%;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 50px;
}

.btn-field button:hover {
    background-color: var(--secondary-color);
}

.col-effect {
    view-transition-name: transitionCol;
    background: var(--secondary-color);
    height: 100%;    
}
@media (max-width: 992px) {
    .col-effect {
        height: 10%;
        width: 100%;
    }
    .logo-field{
        height: 20%;
    }
    .form-field{
        height: 70%;
        width: 100%;
    }
    .login-container{
        justify-content: space-evenly;
    }
  }