.footer-container {
    display: flex;
}

.copyright-field,
.phone-field,
.email-field {
    display: flex;
    gap: 5px;
    text-align: center;

}

.detail-field {
    display: flex;
    justify-content: space-between;
}

.terms-field {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


a,
.detail-field,
.copyright-field {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
.detail-field {
    font-weight: 300;
}

.copyright-field{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

.terms-field a:visited {
    color:gray;
}