.footer-container {
  display: flex;
  color: var(--accent-color);
}

.copyright-field,
.phone-field,
.email-field {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.detail-field {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-family: 'Source Sans Pro', sans-serif;
}

.terms-field{
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-field{
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

.bi {
  color: var(--accent-color);
}