<div class="footer-container">
    <div class="copyright-field">
        <p>Copyright</p>
        <i class="bi bi-c-circle"></i>
    </div>
    <div class="detail-field">
        <div class="info-field">           
           <div class="phone-field">
            <i class="bi bi-telephone"></i><p>xxx-xxx-xxx</p>
           </div>
           <div class="email-field">
            <i class="bi bi-envelope-at"></i><p>loreIpsum.com</p>
           </div>
        </div>
        <div class="terms-field">
            <a href="">Privacidad</a>
            |
            <a href="">Terminos de uso</a>
        </div>
    </div>
</div>