<div class="register-container">
    <div class="form-field col-5">
        <div class="register">
            <div class="input-field">
                <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="input-field">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input-field">
                <input type="password" class="form-control" placeholder="Contraseña" name="" id="">
            </div>
            <div class="input-field">
                <input type="password" class="form-control" placeholder="Repetir contraseña" name="" id="">
            </div>
            <div class="btn-field">
                <button>Registrarme</button>
            </div>
            <div class="btn-field">
                <hr>
                <button [routerLink]="loginPath">Iniciar sesión</button>
            </div>
        </div>
    </div>
    <div class="logo-field col-6">
        <h1>Crear una cuenta</h1>
        <h3>Ingresa tus datos.</h3>
        <h4>Aprovecha todo lo que tenemos para ofrecerte.</h4>
    </div>
    <div class="col-effect col-1">

    </div>
</div>