.dashboard-container{
    height: 100%;
    width: 100%;
    padding: 10px;    
}
.views-field{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: var(--primary-color);
}